@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 141, 73%, 42%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 141, 73%, 42%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.color {
  color: #0a0a0a;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* PACMAN */
/* .loader {
  position: relative;
  border: 24px solid yellow;
  border-radius: 50%;
  box-sizing: border-box;
  animation: eat 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: hsl(var(--primary));
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  animation: move 2s linear infinite;
}
.loader::before {
  animation-delay: 1s;
}
@keyframes eat {
  0%,
  49% {
    border-right-color: yellow;
  }
  50%,
  100% {
    border-right-color: #0000;
  }
}
@keyframes move {
  0% {
    left: 75px;
    opacity: 1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  52%,
  100% {
    left: -5px;
    opacity: 0;
  }
} */

/* CIRCLE */
/* .loader {
  position: relative;
  width: 100px;
  height: 100px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  box-shadow: 0 0 10px 2px hsl(var(--background)) inset;
}
.loader:after {
  box-shadow: 0 2px 0 hsl(var(--primary)) inset;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* FUSION */
/* .loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: hsl(var(--primary));
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: hsl(var(--foreground));
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
} */

/* DIAMOND */
/* .loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: hsl(var(--foreground));
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 8px;
  margin: auto;
  background: hsl(var(--background));
}
.loader:before {
  content: "";
  position: absolute;
  inset: -15px;
  margin: auto;
  background: hsl(var(--primary));
  animation: diamondLoader 2.25s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
} */

/* COFFEE */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 4px solid hsl(var(--foreground));
  animation: fill 1.25s linear 0.25s alternate;
  color: hsl(var(--primary));
  border-radius: 0 0 4px 4px;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid hsl(var(--foreground));
  width: 20px;
  height: 25px;
  border-radius: 0 4px 4px 0;
}
@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}

/* CAR */
/* .loader {
  position: relative;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  animation: rotate 0.75s linear infinite;
}
.loader::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  border: 1px solid hsl(var(--primary));
  border-width: 12px 2px 7px;
  border-radius: 2px 2px 1px 1px;
  box-sizing: border-box;
  transform: rotate(45deg) translate(24px, -10px);
  background-image: linear-gradient(hsl(var(--primary)) 20px, transparent 0),
    linear-gradient(hsl(var(--primary)) 30px, transparent 0),
    linear-gradient(hsl(var(--primary)) 30px, transparent 0);
  background-size:
    10px 12px,
    1px 30px,
    1px 30px;
  background-repeat: no-repeat;
  background-position:
    center,
    12px 0px,
    3px 0px;
}
.loader::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  left: 20px;
  top: 47px;
  border-radius: 50%;
  color: hsl(var(--foreground));
  box-shadow:
    -4px 7px 2px,
    -7px 16px 3px 1px,
    -11px 24px 4px 1px,
    -6px 24px 4px 1px,
    -14px 35px 6px 2px,
    -5px 36px 8px 2px,
    -5px 45px 8px 2px,
    -14px 49px 8px 2px,
    6px 60px 11px 1px,
    -11px 66px 11px 1px,
    11px 75px 13px,
    -1px 82px 15px;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
} */
